.p-item{
    width: 100%;
    padding: 8px;
    z-index: 100;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 55%, rgba(237,237,237,1) 62%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 55%,rgba(237,237,237,1) 62%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 55%,rgba(237,237,237,1) 62%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

}

.p-item:hover, .p-item.active-item{
    background: rgb(254,255,255);
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );

}

.p-item .p-item-ticker {
    font-size: 24px;
}

.p-item .p-item-desc {
    max-width: 70%;
    font-size: 10px;
    font-style: italic;
}

.p-item .p-item-pl {
    margin-top: -11px;
    font-size: 20px;
}

.p-item .p-item-quantity {
    margin-right: 25px;
}

.ui-autocomplete {
    z-index: 1500;
}
