.all-trades {
    margin: 0 0 3em 0;
    list-style-type: none;
    padding: 0;
    float: left;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    margin-top: 2%;
    margin-right: 5%;

    /* display:inline-block; */
}

.all-trades li {
  cursor: pointer;
  max-height: 4.5em;
}
.tradeCreator{
  min-width: 22em;
  background-color: lightgray;
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.selectedQuote{
  min-width: 22em;
  background-color: lightgray;
  border-color: darkgray;
}

.rightPanel{
  float: left;
  margin-right: 5px;
  border: 1px solid gray;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 5%

}

.panel{
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.doughnutChart{
  float: left;
  min-width: 23.4em;
  margin-right: 1%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin-top: 2%;
  border: 1px solid gray;
}

.outerBox{
  padding-left: 4%;
  border: 1px solid gray;
}
