<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="outerBox">
  <div class="all-trades panel">
    <h2>Current trades</h2>
    <table class="table table-sm table-hover tradeCreator">
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
          <th>Ticker</th>
          <th>Price</th>
          <th>Qty</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          style="cursor: pointer"
          *ngFor="let trade of trades"
          [class.selected]="trade === selectedTrade"
        >
          <td (click)="onSelect(trade)">
            {{ trade.date | date: "MMM dd  H:mm:ss" }}
          </td>
          <td (click)="onSelect(trade)">{{ trade.status }}</td>
          <td (click)="onSelect(trade)">{{ trade.ticker | uppercase }}</td>
          <td (click)="onSelect(trade)">{{ trade.price }}</td>
          <td (click)="onSelect(trade)">{{ trade.quantity }}</td>
          <td>
            <button
              (click)="delete(trade.id)"
              class="btn btn-danger btn-sm rounded-0"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Delete"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!selectedTrade; else notSelected">
      Click Trade for Live Quote
    </div>
    <ng-template #notSelected> Live Quote </ng-template>
    <app-ticker-quote [trade]="selectedTrade"></app-ticker-quote>
  </div>

  <div class="doughnutChart">
    <app-doughnut-chart [trades]="trades"> </app-doughnut-chart>
  </div>

  <div class="rightPanel">
    <h2 class="panel">Request a new trade</h2>
    <form
      id="trade-form"
      [formGroup]="contactForm"
      class="tradeCreator"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="typeahead-basic">Search for a ticker:</label>
        <input
          id="typeahead-basic"
          type="text"
          style="width: 60%"
          class="form-control"
          placeholder="Enter Ticker Name"
          [ngbTypeahead]="search"
          #ticker
          formControlName="ticker"
        />
      </div>
      <div class="form-group">
        <label
          >Price :
          <input
            class="form-control"
            placeholder="Enter ticker price"
            #price
            formControlName="price"
          />
        </label>
      </div>
      <div class="form-group">
        <label
          >Quantity :
          <input
            class="form-control"
            placeholder="Enter quantity"
            #quantity
            formControlName="quantity"
          />
        </label>
      </div>
      <button
        type="submit"
        [disabled]="!contactForm.valid"
        class="btn btn-success"
        (click)="
          addNewTrade(ticker.value, price.value, quantity.value, true);
          quantity.value = 0;
          price.value = 0;
          ticker.value = ''
        "
      >
        Buy
      </button>
      <button
        type="submit"
        [disabled]="!contactForm.valid"
        class="btn btn-danger"
        style="margin-left: 2%"
        (click)="
          addNewTrade(ticker.value, price.value, quantity.value, false);
          quantity.value = '';
          price.value = '';
          ticker.value = ''
        "
      >
        Sell
      </button>
    </form>
  </div>
</div>
