<div>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/trades">Trades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/portfolio">Portfolio</a>
      </li>
    </ul>
</nav>
</div>
<div>
<router-outlet></router-outlet>
</div>


