<div *ngIf="has_quote" class="quoteInfo">
      <div><span>Ticker: </span>{{has_quote["01. symbol"]}}</div>
      <div><span>Open: </span>{{has_quote["02. open"]}}</div>
      <div><span>High: </span>{{has_quote["03. high"]}}</div>
      <div><span>Low: </span>{{has_quote["04. low"]}}</div>
      <div><span>Price: </span>{{has_quote["05. price"]}}</div>
      <div><span>Volume: </span>{{has_quote["06. volume"]}}</div>
      <div><span>Prev. Close: </span>{{has_quote["08. previous close"]}}</div>
      <div><span>Change: </span>{{has_quote["09. change"]}}</div>
      <div><span>Change:  </span>{{has_quote["10. change percent"]}}</div>
</div>
