.quoteInfo{
    min-width: 22em;
    background-color: lightgray;
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.spanClass{
    background-color: lightslategray;
    display: grid;
    min-width: 22em;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-top: 1px;
    font-weight: bold;
}